packages/valory/
mech_client/helpers/acn
mech_client/helpers/acn_data_share
mech_client/helpers/p2p_libp2p_client

ethereum_private_key.txt
acn_cert.txt

*.DS_Store
dist/
temp/
.tox/
__pycache__
.env

.idea/
.idea/*