mech_client/helpers/acn
mech_client/helpers/acn_data_share
mech_client/helpers/p2p_libp2p_client

packages/valory/connections
packages/valory/protocols
packages/valory/skills
packages/open_aea

keys
ethereum_private_key.txt
acn_cert.txt

*.DS_Store
dist/
temp/
.tox/
__pycache__
.env
.operate*
keys.json
.mypy_cache/
.pytest_cache/
.claude/

.idea/
.idea/*
