site_name: mech-client
site_url: https://stack.olas.network/mech-client/
site_description: Mech Client - Interact with AI agents on the Olas Marketplace
repo_url: https://github.com/valory-xyz/mech-client
site_author: developer@valory.xyz
copyright: Copyright &copy; 2021 - 2025 Valory AG

theme:
  name: material
  language: en

nav:
  - Home: index.md

plugins:
  - search

markdown_extensions:
  - admonition
  - attr_list
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.highlight
  - pymdownx.tabbed:
      alternate_style: true
  - def_list
  - md_in_html
  - toc:
      title: On this page
      toc_depth: 3
