[tool.poetry]
name = "mech-client"
version = "0.1.7"
description = "Basic client to interact with a mech"
authors = ["David Minarsch <david.minarsch@googlemail.com>"]
readme = "README.md"
packages = [{include = "mech_client"}]
license = "Apache-2.0"

[tool.poetry.dependencies]
python = "^3.10"
open-aea = {version = "1.34.0", extras = ["cli"]}
open-aea-ledger-ethereum = "1.34.0"
open-aea-cli-ipfs = "1.34.0"
websocket-client = ">=0.32.0,<1"
gql = "^3.4.1"
asn1crypto = ">=1.4.0,<1.5.0"
open-aea-ledger-cosmos = "1.34.0"

[tool.poetry.scripts]
mechx = "mech_client.cli:cli"

[tool.poetry.group.dev.dependencies]
open-autonomy = "^0.10.5.post2"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
