[tool.poetry]
name = "mech-client"
version = "0.1.6"
description = "Basic client to interact with a mech"
authors = ["David Minarsch <david.minarsch@googlemail.com>"]
readme = "README.md"
packages = [{include = "mech_client"}]

[tool.poetry.dependencies]
python = "^3.10"
open-aea = {version = "1.34.0", extras = ["cli"]}
open-aea-ledger-ethereum = "1.34.0"
open-aea-cli-ipfs = "1.34.0"
websocket-client = ">=0.32.0,<1"

[tool.poetry.scripts]
mechx = "mech_client.cli:cli"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
