[tool.poetry]
name = "mech-client"
version = "0.18.0"
description = "Basic client to interact with a mech"
authors = ["David Minarsch <david.minarsch@googlemail.com>"]
readme = "README.md"
packages = [{include = "mech_client"}, {include = "scripts"}]
license = "Apache-2.0"

[tool.poetry.dependencies]
python = ">=3.10, <3.12"
gql = ">=3.4.1"
asn1crypto = ">=1.4.0,<1.5.0"
websocket-client = ">=0.32.0,<1"
tabulate = "^0.9.0"
setuptools = "^77.0.3"
olas-operate-middleware = "0.14.7"
safe-eth-py = "^7.18.0"
click = "8.1.8"

[tool.poetry.scripts]
mechx = "mech_client.cli.main:cli"

[tool.poetry.group.dev.dependencies]
tomte = {version = "0.2.17", extras = ["tox"]}
pytest-asyncio = "0.21.2"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
